/* TODO: Make it awesome */
body {
    height: 100%;
    background-color: #403D39;
    padding: 25px;
    font-size: 10px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #403D39;
    padding-bottom: 15px;
    border-bottom: solid 1px #FF4300;

}

header.nav-header {
    background-color: #403D39;
    margin: -25px -25px 0px -25px;
    padding-bottom: 5px;
}

nav {
    text-align: center;
    margin-bottom: 15px;
}

li {
    display: inline;
    padding-left: 5px;
    color: #403D39;
    font-size: 2rem;
}
nav li {
    display: inline-block;
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

ol {
    list-style: none;
    padding: 10px;
    border-bottom: solid 1px #FF4300;
    text-align: center;
}

a {
    color: #FF4300;
    text-decoration: none;
    font-size: 2.5rem;
}

main {
    position: relative;
    height: 93%;
    background-color: #218DC6;
    margin: 0 -25px;
    overflow: hidden;
}

main.cart-main {
    height: 200vh;
    overflow: visible;
}

main header h1 {
    font-size: 2.5rem;
    margin-top: 10px;
}

.col-1 {
    width: 50%;
    transform: translate(0px, 10px);
    height: 100%;
    text-align: center;
}

.col-2 {
    transform: translate(720px, -150px);
    width: 30%;
    height: auto;
}

form#catalog {
    transform: translate(20px, -20px);
}

legend {
    text-align: left;
    font-size: 3rem;
    transform: translate(180px, -20px);    color: #403D39;
}

span {
    color: #403D39;
    font-size: 2.3rem;
}

input#quantity {
    background-color: #CCC5B9;
    color: #403D39;
    font-size: 2rem;
    width: 100px;
    padding: 5px;
    transform: translate(420px, -55px);
}

select#items {
    background-color: #CCC5B9;
    color: #403D39;
    font-size: 2rem;
    margin: 0 10px;
    padding: 5px;
}

input[type="submit"] {
    background-color: #FF4300;
    color: #403D39;
    border-color: #CCC5B9;
    transform: translate(50px, 15px);
    font-size: 1.5rem;
    padding: 10px;

}

footer {
    background-color: #403D39;
    margin: 0 -25px;
    height: 30px;
    position: relative;
}

p {
    position: absolute;
    bottom: 0;
    left: 45%;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #403D39;
    margin-top: 30px;
    color: #403D39;

}

table thead {
    font-size: 2rem;
    border-bottom: 3px solid #403D39;
    background-color: transparent;
}

table tr:nth-child(even) {
    background-color: #CCC5B9;
}

table td {
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
}

button {
    color: #403D39;
    background-color: #FF4300;
}


#itemCount {
    color: #FF4300;
    font-size: 2rem;
    display: inline-block;
    padding: 5px;
}

.copy li {
    font-size: 1.5rem;

}
